/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

.mouse-hover {
  cursor: pointer;
}

.error-feedback {
  font-size: 0.9rem;
  color: crimson;
  margin: 0.3rem !important;
  margin-top: 0.1rem !important;
}
